.container {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}

/*--------------------Mobile------------------------*/

.app {
  display: flex;
  flex-direction: column;
}
/*---Left-side----*/
.header__heading {
  margin: 0.5em 0 !important;
}
.leftSide__boxInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

/*-------------------Desktop------------------*/
@media screen and (min-width: 1023px) {
  .app {
    /*display: flex;*/
    flex-direction: row;
  }
  .header__heading {
    margin: 0 !important;
  }
  /*----Left side----*/
  .left__side {
    width: 70%;
    margin: 1em;
  }
  .leftSide__header {
    display: flex;
    justify-content: space-between;
    margin: 1em;
  }
  .leftSide__boxInfo {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  /*----Right side----*/
  .right__side {
    margin: 1em;
    width: 30%;
  }
}
